.mainCard {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 300px;
  padding: 2%;
}
.card {
  /* Add shadows to create the "card" effect */
  display: flex;
  text-align: center;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(1, 4, 75, 0.418);
  transition: 0.2s;
  background-color: skyblue;
  box-shadow: 0 8px 32px 0 rgba(14, 27, 204, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(19, 2, 245, 0.2);
  background-color: aqua;
}
